<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgres://ec2-54-217-204-34.eu-west-1.compute.amazonaws.com:5432/daqbnfhjmssek6</property>
    <property name="hibernate.connection.username">kecezxfntvznuo</property>
    <property name="hibernate.connection.password">26c5216c0ab1ef15e639e9be44f938f98664a5f0751d15b870a0a2af50fefc6a</property>

    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>

    <mapping class="com.cherniaev.bot.lina_bot.pojo.User" />
    <mapping class="com.cherniaev.bot.lina_bot.pojo.UserDetailAnswer" />
  </session-factory>
</hibernate-configuration>
